successful connection to figures index page


<h1> Choose a Figure from the list below! </h1>

  <% @figures.each do |figure| %>
    <h3><a href="/figures/<%=figure.id%>"><%=figure.name%></a></h3>
  <% end %>
